.watch {
    width: calc(100% - 10rem);
    margin: 10rem 5rem 2rem 5rem;
    padding: 1.5rem;
    position: absolute;
    box-sizing: border-box;
    z-index: 10000;
    background-color: black;
    border: 1px solid white;
    border-radius: 0.5rem;

    &:not(.display) {
        display: none;
    }

    .back {
        display: flex;
        align-items: center;
        color: white;
        cursor: pointer;
        margin-right: 1rem;
    }

    #canvas {
        min-width: 100%;
        max-width: 100%;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
    }

    .controls {
        display: flex;
    }

    button {
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}
